@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dongle:wght@300;400;700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300&family=Ubuntu:wght@300;400;500;700&display=swap');
body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-thumb {
  background-color: white;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid black;  /* creates padding around scroll thumb */
}
html, body {               /* width of the entire scrollbar */
  width: 360px;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #121212;
  color: white;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.InfoTitle {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
